{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>kerala Viswakarma Sabha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

<link href="{% static 'css/bootstrap-grid.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/normalize.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/smartslider.min.css' %}" type="text/css" rel="stylesheet">

<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/fonticons.css' %}" type="text/css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap" rel="stylesheet"> 
   
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Slab' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Gentium Book Plus' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'> 
<style>
    .img-fluid{
      width:80px;
      height:80px;
    }
</style>
</head>
<body class="materimonialservices">
  <section style="background-color:#da8616"> 
    <div class="container">
      <div class="row">
            
             <div class="col-lg-12 ">
               <div class="float-right">
                   <div class="icon-bar">
                    
                     <a href="https://wa.me/919995487001?text="><img src="{% static 'images/whatsapp.png' %}"></a> 
                   </div>
               </div>    
             </div>
      </div>
</div>
</section>
<header>
 
 
    <div class="social-head">
          <div class="container-fluid">
                  <div class="row">
                         <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                              <div id="social-left">
                                  <ul class="nav">
                                        <li class="nav-item"><a class="nav-link text-white" href="mailto:kvsorg277@gmail.com"><i class="fa fa-envelope me-2"></i>kvsorg277@gmail.com</a></li>
                                  </ul>
                                </div>     
                         </div>
                         <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <div id="social-right">
                                <ul class="nav justifycontentend">
                                  {% if user.is_authenticated and user.is_superuser %}
                                  <li class="nav-item"><a class="nav-link text-white" href="{% url 'kvs_app:district_admin_register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                                  {% endif %}
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'kvs_app:logout' %}"><i class="fa fas fa-x fa-sign-in fa-rotate-180"></i></a></li>
                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-facebook"></i></a></li>
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-instagram"></i></a></li>
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                  </div>
          </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-color navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'kvs_app:index' %}"><img src="{% static 'images/logo.jpeg' %}" class="logo"><span class="me-2">kerala Viswakarma Sabha</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item" id="nav-item">
              <a class="nav-link text-white" href="{% url 'kvs_app:index' %}">Home</a>
            </li>
            <li class="nav-item" id="nav-item">
              <a class="nav-link text-white" href="{% url 'kvs_app:executiveforum' %}">Executive Forum</a>
            </li>
              
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white " id="nav-item" href="#" role="button" data-toggle="dropdown">Union & Sakha</a>
                    <ul class="dropdown-menu sub">
                      <li><a class="dropdown-item text-white" href="{% url 'kvs_app:taluk' %}">Taluk Union</a></li>
                    
                      <li><a class="dropdown-item text-white" href="{% url 'kvs_app:sakha' %}">Sakha</a></li>
      
                    </ul>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link text-white dropdown-toggle " id="nav-item" href="#" role="button" data-toggle="dropdown" href="{% url 'kvs_app:data_bank' %}" >Data Bank</a>
                <ul class="dropdown-menu sub">
                  <li><a class="dropdown-item text-white" href="{% url 'kvs_app:data_bank' %}">Data bank List</a></li>
                
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item text-white" href="{% url 'kvs_app:data_bank_hide' %}">Hided List</a></li>
                  {% endif %}
  
                </ul>
              </li>
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:data_bank_register' %}">Data Bank Register</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white " id="nav-item" href="{% url 'kvs_app:join_kvs' %}" role="button" data-toggle="dropdown">Members</a>
                  <ul class="dropdown-menu sub">
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:join_kvs' %}">Approved</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:join_kvs_pending' %}">Pendings</a></li>
                  </ul>
              </li>
              {% else %}
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:join_kvs' %}">Members</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white " id="nav-item" href="#" role="button" data-toggle="dropdown">Services</a>
                  <ul class="dropdown-menu sub">
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:accident_insurance' %}">Accident Insurance</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:health_insurance' %}">Health Insurance</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:insurance_pending' %}">Pendings</a></li>
                    {% endif %}
    
                  </ul>
              </li>
             
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:contact' %}">Contact</a>
              </li>  
          </ul>
        </div>
      </div>
  </nav>
</header><!-- Abouts -->

{% block content %}
<div class="container mt-5">
    <h2>Members of Taluk: {{ taluk.name }}</h2>
    <table class="table table-hover table-bordered mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Phone</th>
                <th>Position</th>
                {% if user.is_authenticated %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.place }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.position }}</td>
                {% if user.is_authenticated %}
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="{% url 'kvs_app:edit_taluk_member' member.id %}" 
                           class="btn btn-sm btn-success">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="{% url 'kvs_app:delete_taluk_member' member.id %}" 
                           class="btn btn-sm btn-danger" 
                           onclick="return confirm('Are you sure you want to delete this member?');">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
                
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No members found in this Taluk.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'kvs_app:taluk' %}" class="btn btn-secondary mt-3">Back to Taluk List</a>
</div>
{% endblock %}

<div class="pt-5"></div>
<!-- footer -->
<footer >
  
  <div class="container-fluid">
  
         <div class="row p-2">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                         <div class="foot_about">
                                 <h4 class="foot_head">About Us</h4>
                                 <p class="foot_para">The Viswakarma puranam says that Brahma and Viswakarma together created tha Universe. In their own special version of the Big-bang theory, the artisans claim that the five natural elements formed an enormous egg that burst forth like thunder and the universe came into Being.......... 
                                  From “Artisans of India” – by Dr. P.N. Sankaran</p>
                                   <ul class="nav">
                                         <li class="nav-item"><a class="nav-link"><i class="fa  fa-facebook"></i></a></li>
                                         <li class="nav-item"><a class="nav-link"><i class="fa fa-twitter"></i></a></li>
                                         <li class="nav-item"><a class="nav-link"><i class="fa fa-instagram"></i></a></li>
                                   </ul>
                         </div>
                 </div>
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="foot_quick">
                    <h4 class="foot_head">Quick Link</h4>
                    
                      <ul class="quick_1">
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:executiveforum' %}">Executive Forum</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:data_bank_register' %}">Data Bank Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:contact' %}">Contact</a></li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'kvs_app:join_kvs' %}"
                                >Add Member</a
                              >
                            </li>
                      </ul>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="foot_address">
                      <h4 class="foot_head">Address</h4>
                      <address>kerala Viswakarma Sabha (S- 277/2003) <br> Viswakarma Bhavan, Thottumpurath Building <br>Kunnamangalam (p.o) ,Kozhikode<br>PIN 673571. </address>
                      <div class="social-link">
                               <ul class="quick_2">
                               
                                <li class="nav-item"><a class="nav-link" href="mailto:kvsorg277@gmail.com"><i class="fa fa-envelope me-2"></i>kvsorg277@gmail.com</a></li>
                                <li class="nav-item"><a class="nav-link" href="tel:+917012958534"><i class="fa fa-phone me-2"></i> +91 9995487001</a></li>
                               
                               </ul>
                      </div>
                
                      
                      
                    </div>
                </div>
         </div>
  </div>
  
</footer>
<footer id="foot">
      <div class="container">
             <div class="row">
                   <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
                       <p id="Copyright">Copyright © 2022  <a href="https://a2zalphabetsolutionz.com/"> A2Z Alphabetsolutionz</a>. All rights reserved. </p>  
                   </div>
             </div>
      </div>
</footer>
<!-- end footer -->
<script>
  $(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(6000); // will first fade out the loading animation 
  $('#preloader').delay(6000).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(350).css({'overflow':'visible'});
})
</script>
<!-- js -->
<script>
getPagination('#table-id');
$('#maxRows').trigger('change');
function getPagination (table){

    $('#maxRows').on('change',function(){
      $('.pagination').html('');						// reset pagination div
      var trnum = 0 ;									// reset tr counter 
      var maxRows = parseInt($(this).val());			// get Max Rows from select option
      
      var totalRows = $(table+' tbody tr').length;		// numbers of rows 
     $(table+' tr:gt(0)').each(function(){			// each TR in  table and not the header
       trnum++;									// Start Counter 
       if (trnum > maxRows ){						// if tr number gt maxRows
         
         $(this).hide();							// fade it out 
       }if (trnum <= maxRows ){$(this).show();}// else fade in Important in case if it ..
     });											//  was fade out to fade it in 
     if (totalRows > maxRows){						// if tr total rows gt max rows option
       var pagenum = Math.ceil(totalRows/maxRows);	// ceil total(rows/maxrows) to get ..  
                             //	numbers of pages 
       for (var i = 1; i <= pagenum ;){			// for each page append pagination li 
       $('.pagination').append('<li data-page="'+i+'">\
                    <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
                  </li>').show();
       }											// end for i 
   
       
    } 												// end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li 
      
      
      //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT
     showig_rows_count(maxRows, 1, totalRows);
      //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT

      $('.pagination li').on('click',function(e){		// on click each page
      e.preventDefault();
      var pageNum = $(this).attr('data-page');	// get it's number
      var trIndex = 0 ;							// reset tr counter
      $('.pagination li').removeClass('active');	// remove active class from all li 
      $(this).addClass('active');					// add active class to the clicked 
      
      
      //SHOWING ROWS NUMBER OUT OF TOTAL
     showig_rows_count(maxRows, pageNum, totalRows);
      //SHOWING ROWS NUMBER OUT OF TOTAL
      
      
      
       $(table+' tr:gt(0)').each(function(){		// each tr in table not the header
         trIndex++;								// tr index counter 
         // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
         if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
           $(this).hide();		
         }else {$(this).show();} 				//else fade in 
       }); 										// end of for each tr in table
        });										// end of on click pagination list
  });
                    // end of on select change 
   
              // END OF PAGINATION 
  
}	


    

// SI SETTING
$(function(){
// Just to append id number for each row  
default_index();
        
});

//ROWS SHOWING FUNCTION
function showig_rows_count(maxRows, pageNum, totalRows) {
 //Default rows showing
      var end_index = maxRows*pageNum;
      var start_index = ((maxRows*pageNum)- maxRows) + parseFloat(1);
      var string = 'Showing '+ start_index + ' to ' + end_index +' of ' + totalRows + ' entries';               
      $('.rows_count').html(string);
}

// CREATING INDEX
function default_index() {
$('table tr:eq(0)').prepend('<th> ID </th>')

        var id = 0;

        $('table tr:gt(0)').each(function(){	
          id++
          $(this).prepend('<td>'+id+'</td>');
        });
}

// All Table search script
function FilterkeyWord_all_table() {

// Count td if you want to search on all table instead of specific column

var count = $('.table').children('tbody').children('tr:first-child').children('td').length; 

      // Declare variables
var input, filter, table, tr, td, i;
input = document.getElementById("search_input_all");
var input_value =     document.getElementById("search_input_all").value;
      filter = input.value.toLowerCase();
if(input_value !=''){
      table = document.getElementById("table-id");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
        
        var flag = 0;
         
        for(j = 0; j < count; j++){
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
           
              var td_text = td.innerHTML;  
              if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
              //var td_text = td.innerHTML;  
              //td.innerHTML = 'shaban';
                flag = 1;
              } else {
                //DO NOTHING
              }
            }
          }
        if(flag==1){
                   tr[i].style.display = "";
        }else {
           tr[i].style.display = "none";
        }
      }
  }else {
    //RESET TABLE
    $('#maxRows').trigger('change');
  }
}
</script>
<!-- js -->
<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/n2.min.js' %}"></script>
<script src="{% static 'js/smartslider-backgroundanimation.min.js' %}"></script>
<script src="{% static 'js/smartslider-frontend.min.js' %}"></script>
<script src="{% static 'js/w-arrow-image.min.js' %}"></script>
<script src="{% static 'js/ss-simple.min.js' %}"></script>


</body>
</html>
